.place__link {
    font-size: 18px;
    line-height: 22px;
    color: white;
    transition: ease 0.5s;
}

@media screen and (max-width: 1023px) {
    .place__link {
        margin-bottom: 12px;
    }
}

.place__link:hover {
    opacity: 80%;
}