@import url(../vendor/normalize.css);

@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__languages/header__languages.css);
@import url(../blocks/header/__lang/header__lang.css);
@import url(../blocks/header/__lang/_locale/header__lang_locale_en.css);

@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__caption/lead__caption.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__image-area/lead__image-area.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__title/lead__title.css);

@import url(../blocks/home-travel/home-travel.css);
@import url(../blocks/home-travel/__text/home-travel__text.css);
@import url(../blocks/home-travel/__title/home-travel__title.css);
@import url(../blocks/home-travel/__stats-text/home-travel__stats-text.css);

@import url(../blocks/variety/variety.css);

@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__item/photo-grid__item.css);
@import url(../blocks/grid-area/grid-area.css);

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-Regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-Bold.otf);
    font-weight: 700;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-ExtraBold.otf);
    font-weight: 900;
}
