.cover__background {
    background-image: url(../../../images/cover-trains.jpg);
    min-height: calc(100vw/1.6);
    width: 100%;
    background-size: cover;
}

@media screen and (min-width: 1280px) {
    .cover__background {
        min-height: 740px;
        width: 1184px;
    }
}