.cover__background {
    display: flex;
    background-image: url(../../../images/cover-trains.jpg);
    height: 740px;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cover__background:hover .cover__overlay {
    background-color: rgba(42, 44, 47, 0.8);
}

/*@media screen and (max-width: 1279px) {*/
/*    .cover__background {*/
/*        height: 640px;*/
/*        width: 1024px;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 1023px) {*/
/*    .cover__background {*/
/*        height: 480px;*/
/*        width: 768px;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 767px) {*/
/*    .cover__background {*/
/*        height: 200px;*/
/*        width: 200px;*/
/*    }*/
/*}*/