.place__bottom-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 48px;
}

.place__bottom-row {
    margin-bottom: 0;
}

@media screen and (max-width: 767px) {
    .place__bottom-row {
        flex-direction: column;
    }
}